



    <div class="container-fluid mt-3">

        <div class="table-responsive">

            <table class="table table-align-middle" id="table" data-toggle="table" data-toolbar="#toolbar">
                <thead>
                    <tr>
                        <th scope="col" class="w-7" data-field="sujet" data-filter-control="input" data-sortable="true">
                            sujet</th>
                        <th scope="col" class="w-15" data-field="cne" data-filter-control="select" data-sortable="true">
                            CNE</th>
                        <th scope="col" class="w-13" data-field="Nom" data-filter-control="input" data-sortable="true">
                            Candidat</th>
                        <th scope="col" class="w-13" data-field="note dpssier" data-filter-control="input"
                            data-sortable="true">Note dossier</th>
                        <th scope="col" class="w-43" data-field="note entretien" data-filter-control="input"
                            data-sortable="true">Note entretien</th>
                        <th scope="col" class="w-13" data-field="moyenne_generale" data-sortable="true"
                            data-filter-control="input">Moyenne generale </th>
                        <th scope="col" class="w-13" data-field="decision" data-sortable="true"
                            data-filter-control="select">Decision </th>



                    </tr>
                </thead>
                <tbody>
                    <tr class="align-text-bottom" >

                        <td>titre sujet</td>
                        <td>cne</td>
                        <td>nom prenom</td>
                        <td>note entretien</td>
                        <td>note dossier</td>
                        <td>moyennne generale</td>
                        <td>decisison</td>

                    </tr>
   
                </tbody>
            </table>


        </div>
    </div>

