
                            	<div class="container padding-bottom-3x mb-2 mt-5">
                                    <div class="row justify-content-center">
                                      <div class="col-lg-8 col-md-10">
                                        <div class="forgot">
                                            
                                            <h3 class="text-center text-primary fw-bold my-3"><i class="bi bi-unlock"></i> Récupération de mot de passe</h3>
                                        <p class="my-3">En suivant ces étapes , vous arriverez a récupérer votre mot de passe </p>
                                        <ul class="list-group">
                                          <li class="list-group-item"><span class="text-primary text-medium">1. </span> Entrer votre adresse mail.</li>
                                          <li class="list-group-item"><span class="text-primary text-medium">2. </span> étape 2 ....</li>
                                          <li class="list-group-item"><span class="text-primary text-medium">3. </span>étape 3</li>
                                        </ul>
                              
                                        </div>	
                                        
                                        <form class="card mt-4">
                                          <div class="card-body">
                                            <div class="form-group">
                                              <label for="email-for-pass" class="text-primary fw-bold my-3">Votre adresse email</label>
                                              <input class="form-control" type="text" id="email-for-pass" required=""><small class="form-text text-muted">Veuillez utiliser l'adresse email que vous avez utilisez pendant l'inscription</small>
                                            </div>
                                          </div>
                                          <div class="card-footer d-flex justify-content-between align-items-center">
                                            <button class="btn btn-primary" type="submit">confirmer</button>
                                            <button class="btn btn-primary" type="submit">revenir vers se connecter</button>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>