<div class="form-card my-3">
    <h3 class="text-primary mt-3 border border-primary text-center p-3">BACCALAUREAT</h3>
    
 <form [formGroup]="candidatBacForm">
    <div class="row">
        
        <div class="col-sm-9 col-lg-4">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="intitule">Intitulé</label>

                <input type="text" 
                    
                    class="form-control form-control-sm dateBac"
                    required="" id="intitule"
                    formControlName="intitule"
                    value="candidatBac.intitule"

                    />
            </div>
        </div>

        <div class="col-sm-3 col-lg-4 mb-3">
            <div class="form-group required ">
             
                <label class="col-form-label-sm control-label"
                    for="id_bac">Type</label>
                <select formControlName="type"
                    class="form-control  form-control-sm" required=""
                    id="id_bac">
            
                    <option value="Sciences Maths B">Sciences Maths B
                    </option>

                    <option value="Sciences Maths A">Sciences Maths A
                    </option>
                    <option value="Sciences de la Vie et de la Terre">
                        Sciences de la Vie et de la Terre
                    </option>

                    <option value="Sciences Physiques et Chimiques">
                        Sciences
                        Physiques et Chimiques
                    </option>
                    <option value="Sciences Economiques">Sciences
                        Economiques
                    </option>

                    <option
                        value="Techniques de Gestion et de Comptabilité">
                        Techniques de Gestion et de Comptabilité
                    </option>
                    <option value="Sciences agronomiques">Sciences
                        agronomiques
                    </option>

                    <option
                        value="Sciences et Technologies Electriques">
                        Sciences et Technologies Electriques
                    </option>
                    <option value="Sciences et Technologies Mécaniques">
                        Sciences et Technologies Mécaniques
                    </option>
                    <option value="Arts Appliqués">Arts Appliqués
                    </option>
                    <option value="Sciences Humaines">Sciences Humaines
                    </option>
                    <option value="Sciences de la Chariaâ">Sciences de
                        la
                        Chariaâ
                    </option>
                    <option value="Sciences de Langue Arabe">Sciences de
                        Langue Arabe
                    </option>

                </select>
            </div>

        </div>

        <div class="col-sm-9 col-lg-4">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_date_diplome_bac">Date D'obtention Du Bac</label>

                <input type="date"  value=""
                    class="form-control form-control-sm dateBac"
                    required="" id="id_date_diplome_bac"
                    formControlName="dateCommission"
                    />
            </div>
        </div>

    </div>

    <div class="row mb-3">
    <div class="col-4">
        <div class="form-group required">
            <label class="col-form-label-sm control-label"
                for="id_Province_bac">Pays</label>
            <select (change)="getCities()"  formControlName="pays" class="form-control form-control-sm" required="" id="id_Province_bac">

                <option  value="{{country.country}}" *ngFor="let country of _countries">{{country.country}}</option>
         
            </select>
        </div>
    </div>

    <div class="col-4">
        <div class="form-group required">
            <label class="col-form-label-sm control-label"
                for="id_ville_bac">Ville</label>

                <select class="form-control form-control-sm" formControlName="ville">
           
                    <option value="{{city}}" *ngFor="let city of _cities">{{city}}</option>
                  
                   </select>

        </div>

    </div>

    <div class="col-4">
        <div class="form-group required">
            <label class="col-form-label-sm control-label">Province</label>
            <input type="text" name="province" value=""
            class="form-control form-control-sm" maxlength="50"
            required="" id="id_ville_bac" 
            formControlName="province"
            />
        </div>
    </div>

    </div>

  
    <div class="row mb-3">
       
        <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_mentionbac">Mention:</label>
                <select formControlName="mention" class="form-control form-control-sm" required="" id="id_mentionbac">
                    <option *ngFor="let m of mentions">{{m}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_nom_bac">etablissement </label>
                <input 
                type="text" 
                formControlName="etablissement"
                    class="
form-control form-control-sm
etablissementBac
" maxlength="50" required="" id="id_nom_bac" />
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_moyenne_bac">Moyenne Générale du
                    Baccalauréat:</label>
                <input type="number"
                   step=".01" max="20.0"
                    formControlName="bac_diplome"
                    class="form-control form-control-sm" maxlength="50"
                    required="" id="id_moyenne_bac" />
            </div>
        </div>

    </div>
   
    <div class="row mt-5">
        <div class="mb-3">
            <label for="bac_dip" class="form-label">Diplôme BACCALAUREAT pdf <span class="text-danger h6"> < 4MO </span></label>
            <input class="form-control diplomeBac" type="file"
                
                formControlName="bac_diplome"
                required
                accept="application/pdf" />

        </div>

        <div class="mb-3">
            <label for="relBac" class="form-label">Relevés de notes pdf  <span class="text-danger h6"> < 4MO </span></label>
            <input class="form-control releveBac" type="file"
                id="relBac"  accept="application/pdf"
                required 
                
                formControlName="releves"

                />
        </div>
    </div>

    <div class="col col-sm-12 col-lg-6 d-flex justify-content-between align-items-center">
        
        <button class="btn btn-primary btn-sm" type="submit">confirmer</button>
        <button (click)="enableUpdate()" [disabled]="!BacExist " class="btn btn-primary btn-sm" type="button"><i class="bi bi-pencil-square"></i> modifier</button>

    </div>



</form>
</div>

