<div class="form-card my-3">
    <h3 class="text-primary mt-3 border border-primary text-center p-3">BACCALAUREAT</h3>
    
 <form [formGroup]="candidatBacForm">
    <div class="row">
        
        <div class="col-sm-9 col-lg-4">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="intitule">Intitulé</label>

                <input type="text" 
                    
                    class="form-control form-control-sm dateBac"
                    required="" id="intitule"
                    formControlName="intitule"
            
                    />
            </div>
        </div>

        <div class="col-sm-9 col-lg-4">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_date_diplome_bac">Type</label>
                    <input class="form-control form-control-sm" type="text" formControlName="type">
                
            </div>
        </div>

        <div class="col-sm-3 col-lg-4 mb-3">
            <div class="form-group required ">
             
                <label class="col-form-label-sm control-label"
                    for="id_bac">Specialité</label>
                <select formControlName="specialite"
                    class="form-control  form-control-sm" 
                    >
                    <option [selected]="candidatBac?.intitule === t ? 'true' : 'false' " [value]="t" *ngFor="let t of bacTypes">{{t}}
                   </option>

                </select>
            </div>

        </div>


    </div>

    <div class="row mb-3">

        <div class="col-lg-3">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_date_diplome_bac">Date D'obtention Du Bac</label>

                <input type="date"  value=""
                    class="form-control form-control-sm dateBac"
                    required="" id="id_date_diplome_bac"
                    formControlName="dateCommission"
                    />
            </div>
        </div>

    <div class="col-3">
        <div class="form-group required">
            <label class="col-form-label-sm control-label"
                for="id_Province_bac">Pays</label>
            <select  formControlName="pays" class="form-control form-control-sm" required="" id="id_Province_bac">

                <option [selected]="candidatBac?.pays === country ? 'true' : 'false' " value="{{country.country}}" *ngFor="let country of _countries">{{country.country}}</option>
         
            </select>
        </div>
    </div>

    <div class="col-3">
        <div class="form-group required">
            <label class="col-form-label-sm control-label"
                for="id_ville_bac">Ville</label>

               <input class="form-control form-control-sm" type="text" formControlName="ville" />

        </div>

    </div>

    <div class="col-3">
        <div class="form-group required">
            <label class="col-form-label-sm control-label">Province</label>
            <input type="text" name="province" value=""
            class="form-control form-control-sm" maxlength="50"
            required="" id="id_ville_bac" 
            formControlName="province"
            />
        </div>
    </div>

    </div>

  
    <div class="row mb-3">
       
        <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_mentionbac">Mention:</label>
                <select formControlName="mention" class="form-control form-control-sm" id="id_mentionbac">
                    <option [selected]="candidatBac?.mention === m ? 'true' : 'false' " [value]="m" *ngFor="let m of mentions">{{m}}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_nom_bac">etablissement </label>
                <input 
                type="text" 
                formControlName="etablissement"
                    class="
form-control form-control-sm
etablissementBac
" maxlength="50" required="" id="id_nom_bac" />
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_moyenne_bac">Moyenne Générale du
                    Baccalauréat:</label>
                <input type="number"
                   step=".01" max="20.0"
                    formControlName="moyen_generale"
                    class="form-control form-control-sm" maxlength="50"
                    required="" id="id_moyenne_bac" />
            </div>
        </div>

    </div>
   
    <div class="row mt-5">
        <div class="mb-3">
            <label for="bac_dip" class="form-label">Diplôme BACCALAUREAT pdf <span class="text-danger h6"> < 4MO </span></label>
            <input class="form-control diplomeBac" type="file"
                
                formControlName="bac_diplome"
                required
                accept="application/pdf" />

        </div>

        <div class="mb-3">
            <label for="relBac" class="form-label">Relevés de notes pdf  <span class="text-danger h6"> < 4MO </span></label>
            <input class="form-control releveBac" type="file"
                id="relBac"  accept="application/pdf"
                required 
                
                formControlName="releves"

                />
        </div>
    </div>

    <div class="col col-sm-12 col-lg-6 d-flex justify-content-between align-items-center">
        
        <button class="btn btn-primary btn-sm" type="submit">confirmer</button>
        <button (click)="enableUpdate()" [disabled]="!BacExist " class="btn btn-primary btn-sm" type="button"><i class="bi bi-pencil-square"></i> modifier</button>

    </div>



</form>
</div>

