<div id="carouselExampleIndicators" class="carousel slide mb-5 ms-2 me-2 mt-3" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

    </ol>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <div class="carousel-caption  d-md-block mb-5">
                <h2 class="mb-3 ">Bienvenue</h2>
                <h1 class="mb-3 ">Cycle Doctorale</h1>
                <h2 class="mb-3 ">Usmba</h2>
                <div class="d-flex justify-content-around ">
                    <a class="btn btn-success" href="#about">Candidater</a>
                    <a class="btn btn-primary" href="#about">A propos</a>
                </div>

            </div>
            <img class="d-block w-100 " src="/assets/images/ced/doctorat.jpg" alt="First slide">

          

        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/images/ced/doctorat2.jpg" alt="Second slide">
            <div class="carousel-caption  d-md-block mb-5">
                <h2 class="mb-5 ">Vers un meilleur avenir</h2>
                <h1 class="mb-5 ">E-Doctorat</h1>
                <h2 class="mb-5 ">Usmba</h2>
                <div class="d-flex align-items-center ">
                    <a class="btn btn-light" href="#about">Candidater</a>
                    <a class="btn btn-primary" href="#about">A propos</a>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>