<div class="container mt-5">

<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-12">
    <img class="shadow rounded" src="/assets/images/description/USMBA.jpeg" alt="">
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 text-start">
    <p class="mt-3 text-color">
        L’USMBA dispose d’un pôle des études doctorales constitué de trois centres d'études doctorales thématiques offrant des formations doctorales de haut niveau dans de nombreuses disciplines :
    </p>
    <ul class="list-group">
        <li class="list-group-item text-primary fw-bold"> Sciences et Techniques et Sciences Médicales </li>
        <li  class="list-group-item text-primary fw-bold"> Lettres </li>
        <li  class="list-group-item text-primary fw-bold"> Sciences Humaines </li>
        <li  class="list-group-item text-primary fw-bold"> Arts et Sciences de l'Education</li>
        <li  class="list-group-item text-primary fw-bold"> Sciences Juridiques , Sociales et Gestion</li>
    </ul>
</div>

</div>

<div class="row mt-5 ">
    <div class="col-6 rounded shadow">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Pole</th>
            <th scope="col">Etablissement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="text-primary fw-bold"> Sciences et Techniques et Sciences Médicales </span></td>
            <td> <ul class="list-group">
                <li class="list-group-item text-primary fw-bold"> FST </li>
                <li  class="list-group-item text-primary fw-bold"> EST </li>
                <li  class="list-group-item text-primary fw-bold"> ENS</li>
                <li  class="list-group-item text-primary fw-bold"> ENSA </li>
                <li  class="list-group-item text-primary fw-bold"> FMP</li>
                <li  class="list-group-item text-primary fw-bold"> FS</li>
                <li  class="list-group-item text-primary fw-bold"> FPD</li>
            </ul></td>
          </tr>
          <tr>
            <td><span class="text-primary fw-bold"> Lettres , Sciences Humaines et Arts et Sciences de l'Education </span></td>
            <td> <ul class="list-group">
                <li class="list-group-item text-primary fw-bold"> ENS </li>
                <li  class="list-group-item text-primary fw-bold"> FPD </li>
            </ul></td>
          </tr>
          <tr>
            <td><span class="text-primary fw-bold">Sciences Juridiques , Sociales et Gestion</span></td>
            <td> <ul class="list-group">
                <li class="list-group-item text-primary fw-bold"> FSJES </li>
                <li  class="list-group-item text-primary fw-bold"> ENCG </li>
            </ul></td>
          </tr>
        </tbody>
      </table></div>
      <div class="col-6 mt-3">
        <iframe class="rounded shadow" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13225.565669467345!2d-4.9798763!3d34.0338293!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2267a390c6fbdf0!2sUniversit%C3%A9%20Sidi%20Mohamed%20Ben%20Abdellah!5e0!3m2!1sfr!2sma!4v1635204731311!5m2!1sfr!2sma" class="align-self-stretch d-flex" style="width:100%; min-width:100%; min-height:400px;" allowfullscreen=""></iframe>
      </div>
</div>

</div>