



    <h3 class="text-primary mt-3 border border-bottom border-primary text-center p-3">{{'candidat.notifications' | translate }}</h3>

   <div *ngIf="isFetchingItems">
    <h4>
      <img
        src="/assets/images/connexion/loading.webp"
        width="300"
        height="100"
      />
    </h4>
  </div>
  <div  *ngIf="!isFetchingItems" >
    <ul class="list-group mt-3" *ngFor="let n of notifications">
      <p class="h5">{{'candidat.notifications_details.conseil_1' | translate }}</p>
        <li class="list-group-item"><span class="text-primary fw-bold">date de commission : </span>{{n?.commission?.dateCommission}}</li>
        <li class="list-group-item"><span class="text-primary fw-bold">sujet : </span> {{n?.sujet?.titre}}</li>
        <li class="list-group-item"><span class="text-primary fw-bold">heure : </span>{{n?.commission?.heure}}</li>
        <li class="list-group-item"><span class="text-primary fw-bold">lieu de commission : </span> {{n?.commission?.lieu}}</li>
    </ul>
</div>

<h3 class="text-success mt-3 border border-bottom border-primary text-center p-3">résultat</h3>


    <!-- <div lang="ar">
        <h5 class="text-success mb-5">{{'candidat.notifications_details.aide_infos' | translate }}</h5>
                  <p>
                    {{'candidat.notifications_details.conseil_2' | translate }}
                  </p>
        <ul class="list-group mb-3">
    <li class="list-group-item"> <a href="https://edoctorat.usmba.ac.ma/static/piecesfournir.pdf" target="_blank">{{'candidat.notifications_details.piece_fournir' | translate }}</a></li>
        <li class="list-group-item"><a href="https://edoctorat.usmba.ac.ma/static/iltizam.pdf" target="_blank">Télécharger la  déclaration sur l'honneur à légaliser/تحميل التصريح بالشرف </a></li>
        <li class="list-group-item"> <a href="https://edoctorat.usmba.ac.ma/static/recu.pdf" target="_blank">Reçu / وصل</a></li>
        <li class="list-group-item"> <a href="https://edoctorat.usmba.ac.ma/static/demandebourse.pdf" target="_blank"> Demande de bourse / طلب منحة</a></li>
        <li class="list-group-item"> <a href="https://edoctorat.usmba.ac.ma/static/charte.pdf" target="_blank"> Charte de thèse /  ميثاق الاطروحة</a></li>
    </ul>
    </div> -->

