<div class="form-card">
    <h3 class="text-primary mt-3 border border-primary text-center p-3">Licence</h3>
 <form [formGroup]="candidatLicenceForm">
    <div class="row">
        
        <div class="col-sm-3 col-lg-6 mb-3">
            <div class="form-group required ">
             
                <label class="col-form-label-sm control-label"
                    for="id_specialite">specialite</label>

                   <input id="id_speciliate" formControlName="specialite" class="form-control form-control-sm" type="text" name="" />

            </div>

        </div>
        <div class="col-sm-3 col-lg-6 mb-3">
            <div class="form-group required ">
             
                <label class="col-form-label-sm control-label"
                    for="id_specialite">Titre / Filiere</label>

                   <input id="id_titrefiliere" formControlName="titrefiliere" class="form-control form-control-sm" type="text" name="" />

            </div>

        </div>

        <div class="col-sm-9 col-lg-6">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_date_dut">Date D'obtention Du Diplôme:</label>

                <input type="date"  value=""
                    class="form-control form-control-sm dateDut"
                    required="" id="id_titre_licence"
                    formControlName="dateLicence"
                    />
            </div>
        </div>

    </div>

    <div class="row mb-3">
    <div class="col-4">
        <div class="form-group required">
            <label class="col-form-label-sm control-label"
                for="id_Province_licence">Pays</label>
            <select (change)="getCities()"  formControlName="pays" class="form-control form-control-sm" required="" id="id_Province_bac">

                <option  value="{{country.country}}" *ngFor="let country of _countries">{{country.country}}</option>
         
            </select>
        </div>
    </div>

    <div class="col-4">
        <div class="form-group required">
            <label class="col-form-label-sm control-label"
                for="id_ville_licence">Ville</label>

                <select class="form-control form-control-sm" formControlName="ville">
           
                    <option value="{{city}}" *ngFor="let city of _cities">{{city}}</option>
                  
                   </select>

        </div>
    </div>

    <div class="col-4">
        <div class="form-group required">
            <label class="col-form-label-sm control-label">Province</label>
            <input type="text" name="province" value=""
            class="form-control form-control-sm" maxlength="50"
            required="" id="id_ville_licence" 
            
            formControlName="province"
            />
        </div>
    </div>

    </div>

  
    <div class="row mb-3">
       
        <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_mentionlicence">Mention:</label>
                <select formControlName="mention" class="form-control form-control-sm" required="" id="id_mentionbac">
                    <option value="Passable">Passable</option>
                    <option value="Assez bien">Assez Bien</option>
                    <option value="Bien">Bien</option>
                    <option value="Très bien">Très Bien</option>
                </select>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    >Etablissement / Université </label>
                <input 
                type="text" 
                formControlName="Etablissement"
                value=""
                    class="
form-control form-control-sm
etablissementBac
" maxlength="50" required="" id="id_nom_licence" />
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="form-group required">
                <label class="col-form-label-sm control-label"
                    for="id_moyenne_licence">Moyenne Générale de tous les semestres:
        </label>
                <input type="number"
                   step=".01" max="20.0"
                    formControlName="licence_note"
                    value=""
                    class="form-control form-control-sm" maxlength="50"
                    required="" id="id_moyenne_licence" />
            </div>
        </div>

    </div>
   
    <div class="row mt-5">
        <div class="mb-3">
            <label for="licence_dip" class="form-label">Diplôme Licence pdf <span class="text-danger h6"> < 4MO </span></label>
            <input class="form-control diplomelicence" type="file"
                
                formControlName="licence_diplome"

                required
                accept="application/pdf" />

        </div>

        <div class="mb-3">
            <label for="relLicence" class="form-label">Relevés de notes pdf  <span class="text-danger h6"> < 4MO </span></label>
            <input class="form-control releveLicence" type="file"
                id="relLicence"  accept="application/pdf"
                required 
                
                formControlName="releves"

                />
        </div>
    </div>

    <div class="col-3">
        
        <button class="btn btn-primary m-auto" type="button">confirmer</button>
    </div>



</form>
</div>


