<div id="carouselExampleCaptions" class="carousel slide m-3" data-bs-ride="carousel">

    <h3 class="text-color bg-white mt-3 my-3 border-start border-primary border-3 mt-3 text-start p-3">Laboratoires</h3>
    
    <div class="carousel-inner">
      <div class="carousel-item"
      [ngClass]="getSliderClass(first,last,isEven,isOdd)"
     
                                                *ngFor="let labo of laboratoires;
                                                index as i;
                                                first as first;
                                                last as last;
                                                even as isEven;
                                                odd as isOdd">
         
        <img [src]="labo.pathImage" style="height:73vh;" class="d-block shadow w-100 img-thumbnail img-bordered" alt="/assets/images/labo/pic4.png">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{labo.initialLabo}}</h5>
          <p>{{labo.nomLaboratoire}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>