<div class="container-fluid mt-3">
  <div class="table-responsive">
    <table
      id="table"
      class="table table-align-middle"
      data-toggle="table"
      data-search="true"
      data-filter-control="true"
      data-show-export="true"
      data-click-to-select="true"
      data-toolbar="#toolbar"
    >
      <thead>
        <tr>
          <th data-field="prenom" data-sortable="true">Date</th>
          <th data-field="sujet" data-sortable="true" scope="col" class="w-7">
            Lieu
          </th>
          <th data-field="examen" data-sortable="true" scope="col" class="w-7">
            heure
          </th>
          <th
            data-field="entretie"
            data-sortable="true"
            scope="col"
            class="w-7"
          >
            membres
          </th>
          <th data-field="note" data-sortable="true" scope="col" class="w-7">
            examiner
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of commissions">
          <td>{{c.dateCommission}}</td>
          <td>{{c.heure}}</td>
          <td>{{c.lieu}}</td>
          <td>
            <ul>
              <li *ngFor="let p of c.participants">{{p.nom}} {{p.prenom}}</li>
            </ul>
          </td>
          <td>PV de la comission</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
