/*
.img{
    background:url('/assets/images/ced/doctorat.jpg') ;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
}*/

/* to be fixed*/

.img2{
    background:url('/assets/images/usmba-logo.png') ;
    background-size:contain ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
}
