<div class="container-fluid mt-3">

    <div class="table-responsive">

        <table class="table table-align-middle" id="table" data-toggle="table" data-toolbar="#toolbar">
            <thead>
                <tr class="table-primary">
                    <th scope="col" class="w-15">
                        CNE</th>
                    <th scope="col" class="w-7" data-field="sujet" data-filter-control="input" >
                        sujet</th>
                    <th scope="col" class="w-13">
                        Candidat</th>
                    <th scope="col" class="w-13"
                        >Note dossier</th>
                    <th scope="col" class="w-43"
                        >Note entretien</th>
                    <th scope="col" class="w-13" 
                        >Moyenne generale </th>
                    <th scope="col" class="w-13" 
                        >Decision </th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-text-bottom" *ngFor="let cInfos of candidatInfos.results"> 
                    <td>{{cInfos.candidat.cne}}</td>
                    <td>{{cInfos.sujet.titre}}</td>
                    <td>{{cInfos.candidat.nom}} {{cInfos.candidat.prenom}}</td>
                    <td>{{cInfos.noteEntretien}}</td>
                    <td>{{cInfos.noteDossier}}</td>
                    <td>{{cInfos.noteDossier + cInfos.noteEntretien /2}}</td>
                    <td>{{cInfos.decision}}</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
