
<div class="section-area section-sp2 popular-courses-bx" id="ced">
    <div class="container">
        <div class="row">
            <div class="col-md-20 heading-bx left">
                <h2 class="title-head">Le doctorat <span> a l'USMBA</span></h2>
            </div>
        </div>
        <div  class="row">
            <div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0 ">
                <div class="item">
                    <div class="cours-bx">
                        <div class="action-box">
                            <img src="/assets/images/ced/ced.jpg" alt="">
                            <a href="#" class="btn">plus d'info</a>
                        </div>
                        <div  class="info-bx text-center">
                            <h5><a href="#">CED</a></h5>
                            <span>Centre d'études doctorales</span>
                        </div>
                        <div class="cours-more-info">


                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cours-bx">
                        <div class="action-box">
                            <img src="/assets/images/ced/image_8.jpg" alt="">
                            <a href="#" class="btn">plus d'info</a>
                        </div>
                        <div class="info-bx text-center">
                            <h5><a href="#">Pole d'études doctorales </a></h5>
                            <span>USMBA POLE</span>
                        </div>
                        <div class="cours-more-info">


                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cours-bx">
                        <div class="action-box">
                            <img src="/assets/images/ced/labo.jpg" alt="">
                            <a href="#" class="btn">plus d'info</a>
                        </div>
                        <div class="info-bx text-center">
                            <h5><a href="#labo">Labo</a></h5>
                            <span>Laboratoires</span>
                        </div>
                        <div class="cours-more-info">

                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="cours-bx">
                        <div class="action-box">
                            <img src="/assets/images/ced/fd.jpg" alt="">
                            <a href="#" class="btn">plus d'info</a>
                        </div>
                        <div class="info-bx text-center">
                            <h5><a href="#formations">formation doctorale</a></h5>
                            <span> formations</span>
                        </div>
                        <div class="cours-more-info">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
