<div class="container-fluid mt-3">

    <div class="table-responsive">

        <table class="table table-align-middle">
            <thead>
                <tr class="table-primary">
                    <th scope="col" class="w-7">Cne</th>
                    <th scope="col" class="w-15">Candidat</th>
                    <th scope="col" class="w-13">Sujet</th>
                    <th scope="col" class="w-13">Directeur</th>
                    <th scope="col" class="w-13"> co-directeur </th>
                    <th scope="col" class="w-43">Formation Doctorale</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-text-bottom">
                    <td>cd6hhh</td>
                    <td>ibriz</td>
                    <td>mohammed akram</td>
                    <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis dolorem debitis
                        voluptates quidem accusamus, aut in reprehenderit, sint a minus expedita? Ipsa sunt
                        laboriosam neque quaerat. Fugiat odio similique ex?</td>
                    <td>co1</td>
                    <td>f1</td>
                 
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quae deleniti quibusdam
                        minus laborum doloremque assumenda voluptatem eos quos eveniet alias blanditiis non nostrum
                        dolorem, reprehenderit facere aliquid illo ea.</td>
                    <td>co2</td>
                    <td>f2</td>
                  
                </tr>
                <tr>
                    <td>3</td>
                    <td>hamid</td>
                    <td>de bruyne</td>
                    <td>@twitter</td>
                    <td>co3</td>
                    <td>f7</td>
             
                </tr>
            </tbody>
        </table>


    </div>
    
</div>
