<div class="col-md-12 text-darkblue text-center heading-bx">
  <h2 class="title-head m-b0">Conseils</h2>

</div>
<div id="carouselExampleCaptions" class="carousel slide ms-5 me-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/ced/labo.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block bg-white text-dark rounded">
        <h5>Aie confiance</h5>
        <p>Des milliers de personnes avant toi ont fait leurs études doctorales.
          Bien que cela soit quelque peu intimidant, aie confiance en tes
          capacités à compléter ta thèse</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/ced/team.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block bg-white text-dark rounded">
        <h5>Évite les sujets trop actuels</h5>
        <p>Comme une thèse prend plusieurs années, choisis un sujet qui sera
          toujours intéressant. Les universitaires ne sont pas des journalistes.
          Leur travail doit rester pertinent sur le long-terme.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/ced/team2.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block bg-white text-dark rounded">
        <h5>Demande de l’aide</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/ced/me.JPG" class="d-block w-100"alt="...">
      <div class="carousel-caption  d-md-block bg-white text-dark rounded">
        <h5>Demande de l’aide</h5>
        <p>Trouve une opportunité d’obtenir de l’aide de tes collègues ou de
          chercheurs pour compléter tes recherches. Si tu es face à une difficulté ne la dissimule
          . Parles-en à ton superviseur de recherche. Il n’y a pas de honte de demander de l’aide. C’est en se taisant que le problème
          prendra plus de proportions.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/ced/team3.JPG" class="d-block w-100"alt="...">
      <div class="carousel-caption  d-md-block bg-white text-dark rounded">
        <h5>Comprends le but de ta soutenance</h5>
        <p>Les examinateurs voudront savoir si tu as fait tes propres recherches, si
          tu as écrit ta thèse, si tu la comprends bien, si tu as bien traité tes
          questions de recherches et si elles sont bien formulées.</p>
      </div>
    </div>
    <div class="carousel-item ">
      <img src="/assets/images/ced/labo.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block bg-white text-dark rounded">
        <h5>Familiarise-toi avec ton public</h5>
        <p>Regarde les recherches menées par tes examinateurs, cela t’aidera à
          cerner le genre de questions qu’ils pourraient te poser.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/ced/team.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption  d-md-block bg-white text-dark rounded">
        <h5>Ne vous éparpillez pas</h5>
        <p>La recherche du sujet comporte un grand risque de
          t’éparpiller, ce qui est contreproductif. Plus vite tu mettras le doigt
          sur le sujet que tu souhaites traiter et le mieux ce sera. Identifie les
          catégories que tu souhaites traiter, jusqu’à ce que
          tu trouves ton sujet. Sois précis.</p>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>