<div class="d-flex justify-content-between align-items-center my-3">

  <div class="col-3">
    <input
      class="form-control"
      type="text"
      name=""
      [(ngModel)]="sujet_"
      (ngModelChange)="searchSujet()"
      [ngModelOptions]="{ standalone: true }"
      pattern="[0-9]*(\.[0-9]+)?"
      placeholder="par sujet"
    />
  </div>

  <div class="col-3">
    <input
      class="form-control"
      type="text"
      name=""
      [(ngModel)]="laboratoire_"
      (ngModelChange)="searchLaboratoire()"
      [ngModelOptions]="{ standalone: true }"
      pattern="[0-9]*(\.[0-9]+)?"
      placeholder="par laboratoire"
    />
  </div>

  <div class="col-3">
    <input
      class="form-control"
      type="text"
      name=""
      [(ngModel)]="formationDoctorale_"
      (ngModelChange)="searchFormation()"
      [ngModelOptions]="{ standalone: true }"
      pattern="[0-9]*(\.[0-9]+)?"
      placeholder="par formation doctorale"
    />
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="table-responsive">
      <app-alert *ngIf="alert" [data]="alert"></app-alert>
    <table *ngIf="!isFetchingItems" class="table table-align-middle">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="w-7">Titre | Sujet | thème</th>
          <th scope="col" class="w-23">Directeur</th>
          <th scope="col" class="w-7">Co-Directeur</th>
          <th scope="col" class="w-23">Labo</th>
          <th scope="col" class="w-23">Formation Doctorale</th>
          <th scope="col" class="w-23">CED</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ps of Psujets">
          <td>{{ps?.titre}}</td>
          <td>{{ps?.professeur?.prenom}} {{ps.professeur?.nom}}</td>
          <td>{{ps?.coDirecteur?.prenom}} {{ps.coDirecteur?.nom}}</td>
          <td>{{ps['laboratoire'].nom}}</td>
          <td>{{ps?.formationDoctorale?.titre}}</td>
          <td>{{ps?.formationDoctorale?.ced['titre']}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="isFetchingItems">
      <h4>
        <img
          src="/assets/images/connexion/loading.webp"
          width="300"
          height="100"
        />
      </h4>
    </div>
  </div>
  <app-offsetpagination
    [itemsCount]="itemsCount"
    [itemsPerPage]="50"
    (indexChange)="onIndexChange($event)"
    *ngIf="Psujets.length > 0"
  ></app-offsetpagination>
</div>
