

        <div class="card w-100">
            <div class="card-header">
            <img class="img-fluid " src="/assets/images/test_purposes.jpg"  alt="image candidat">
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <a routerLink="/candidat/info_personnels" class="nav-link btn btn-primary text-light">
                      Informations Personnelles
                  </a>
              </li>
              <li class="list-group-item">
                <a routerLink="/candidat/postuler" class="nav-link btn btn-primary text-light">
                    Postuler
                </a>
              </li>
              <li class="list-group-item">
                <a routerLink="/candidat/notifications" class="nav-link btn btn-primary text-light">
                    Notifications
                </a>
              </li>
              <li class="list-group-item">
                <a routerLink="/candidat/parcours" class="nav-link btn btn-primary text-light">
                    Parcours
                </a>
              </li>
            </ul>
           
    </div>


