

<div class="container-fluid mt-3">
   
    <div class="table-responsive">
       

        <table id="table" class="table table-align-middle " data-toggle="table" data-search="true"
            data-filter-control="true" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th  data-sortable="true">Sujet</th>
                    <th  data-sortable="true" scope="col" class="w-7">cne</th>
                    <th  data-sortable="true" scope="col" class="w-7">Candidat</th>
                    <th  data-sortable="true" scope="col" class="w-7">Note dossier</th>
                    <th  data-sortable="true" scope="col" class="w-7">Note Entretien</th>
                    <th data-sortable="true" scope="col" class="w-7">Moyenne generale</th>
                    <th data-sortable="true" scope="col" class="w-7">Decision </th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of resultats">
                    <td>{{r.sujet.titre}}</td>
                    <td>{{r.candidat.cne}}</td>
                    <td>{{r.candidat.nom}} {{r.candidat.prenom}}</td>
                    <td>{{r.noteDossier}}</td>
                    <td>{{r.noteEntretien}}</td>
                    <td>18</td>
                    <td>{{r.decision}}</td>

                </tr>
            </tbody>
        </table>

    </div>
</div>

