<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-11 col-xl-11">
      <div class="card text-black p-3" style="border-radius: 25px">
        <div *ngIf="!isVerifyingToken && !showTokenInvalid">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
              <div class="col-lg-3">
                <label for="Email" class="col-form-label-sm h6 control-label"
                  >Email</label
                >
                <input
                  class="form-control form-control-sm"
                  type="email"
                  name="email"
                  id="email"
                  disabled
                  value="{{ preRegData?.email }}"
                />
              </div>
              <div class="col-lg-3">
                <label for="nom" class="col-form-label-sm h6 control-label"
                  >Nom</label
                >
                <input
                  class="form-control form-control-sm"
                  type="text"
                  name="nom"
                  id="nom"
                  disabled
                  value="{{ preRegData?.nom }}"
                />
              </div>
              <div class="col-lg-3">
                <label for="prenom" class="col-form-label-sm h6 control-label"
                  >Prenom</label
                >

                <input
                  class="form-control form-control-sm"
                  type="text"
                  name="prenom"
                  id="prenom"
                  disabled
                  value="{{ preRegData?.prenom }}"
                />
              </div>
              <div class="col-lg-3">
                <label for="password" class="col-form-label-sm h6 control-label"
                  >Mot de passe</label
                >
                <input
                  class="form-control form-control-sm"
                  type="password"
                  name="password"
                  id="password"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-3">
                <label
                  class="col-form-label-sm h6 control-label"
                  for="confPassword"
                  >Confirmer mot de passe</label
                >
                <input
                  class="form-control form-control-sm"
                  type="password"
                  name="confPassword"
                  id="confPassword"
                  formControlName="confPassword"
                />
              </div>

              <p *ngIf="showPasswordsMisMatch" style="color: red">
                Les mots de passe ne correspondent pas
              </p>

              <div class="col-lg-3">
                <label for="cin" class="col-form-label-sm h6 control-label"
                  >CIN</label
                >
                <input
                  class="form-control form-control-sm"
                  type="text"
                  name="cin"
                  id="cin"
                  formControlName="cin"
                />
              </div>
              <div class="col-lg-3">
                <label for="cne" class="col-form-label-sm h6 control-label"
                  >CNE</label
                >
                <input
                  type="text"
                  name="cne"
                  id="cne"
                  class="form-control form-control-sm"
                  formControlName="cne"
                />
              </div>
              <div class="col-lg-3">
                <label for="nomAr" class="col-form-label-sm h6 control-label"
                  >Nom en arabe</label
                >
                <input
                  type="text"
                  name="nomAr"
                  class="form-control form-control-sm"
                  id="nomAr"
                  formControlName="nomAr"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-3">
                <label for="prenomAr" class="col-form-label-sm h6 control-label"
                  >Prenom en arabe</label
                >
                <input
                  class="form-control form-control-sm"
                  type="text"
                  name="prenomAr"
                  id="prenomAr"
                  formControlName="prenomAr"
                />
              </div>

              <div class="col-lg-3">
                <label for="dateN" class="col-form-label-sm h6 control-label"
                  >Date de naissance</label
                >
                <input
                  type="date"
                  class="form-control form-control-sm"
                  name="dateN"
                  id="dateN"
                  formControlName="dateN"
                />
              </div>
              <div class="col-lg-3">
                <label for="sex" class="col-form-label-sm h6 control-label"
                  >Sexe</label
                >
                <select
                  name="sex"
                  id="sex"
                  formControlName="sex"
                  class="form-control form-control-sm"
                >
                  <option value="m" selected>Masculine</option>
                  <option value="f">Feminine</option>
                </select>
              </div>
              <div class="col-lg-3">
                <label for="lieuN" class="col-form-label-sm h6 control-label"
                  >Lieu de naissance</label
                >
                <input
                  type="text"
                  name="lieuN"
                  id="lieuN"
                  formControlName="lieuN"
                  class="form-control form-control-sm"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-3">
                <label for="lieuNAr" class="col-form-label-sm h6 control-label"
                  >Lieu de naissance en arabe</label
                >
                <input
                  type="text"
                  name="lieuNAr"
                  id="lieuNAr"
                  class="form-control form-control-sm keyboardInput"
                  dir="rtl"
                  formControlName="lieuNAr"
                />
              </div>
              <div class="col-lg-3">
                <label for="adresse" class="col-form-label-sm h6 control-label"
                  >Adresse</label
                >
                <textarea
                  name="adresse"
                  id="adresse"
                  cols="10"
                  rows="5"
                  formControlName="adresse"
                  placeholder="Adresse"
                  class="form-control form-control-sm"
                ></textarea>
              </div>
              <div class="col-lg-3">
                <label for="ville" class="col-form-label-sm h6 control-label"
                  >Ville</label
                >
                <input
                  type="text"
                  name="ville"
                  id="ville"
                  class="form-control form-control-sm"
                  formControlName="ville"
                />
              </div>
              <div class="col-lg-3">
                <label for="telCandidat" class="col-form-label-sm h6 control-label"
                  >Numero de telephone</label
                >
                <input
                  type="tel"
                  name="telCandidat"
                  class="form-control form-control-sm"
                  id="telCandidat"
                  formControlName="telCandidat"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-3">
                <label
                  for="nationalite"
                  class="col-form-label-sm h6 control-label"
                  >Nationalite</label
                >

                <select
                  name="nationalite"
                  id="nationalite"
                  formControlName="nationalite"
                  class="form-control form-control-sm"
                >
                  <option
                    value="{{ country.country }}"
                    *ngFor="let country of _countries"
                  >
                    {{ country.country }}
                  </option>
                </select>
              </div>
              <div class="col-lg-3">
                <label for="sitFam" class="col-form-label-sm h6 control-label"
                  >Situation familiale</label
                >
                <select
                  name="sitFam"
                  id="sitFam"
                  formControlName="sitFam"
                  class="form-control form-control-sm"
                >
                  <option value="celebataire">Celebataire</option>
                  <option value="mariee">Mariee</option>
                </select>
              </div>
              <div class="col-lg-3">
                <label for="handCap" class="col-form-label-sm h6 control-label"
                  >Êtes-vous handicapé ?</label
                >
                <select
                  name="handCap"
                  id="handCap"
                  formControlName="handCap"
                  class="form-control form-control-sm"
                >
                  <option value="oui">Oui</option>
                  <option value="non">Non</option>
                </select>
              </div>
              <div class="col-lg-3">
                <label for="thandCap" class="col-form-label-sm h6 control-label"
                  >Type de handicap (si oui)</label
                >
                <select
                  name="thandCap"
                  id="thandCap"
                  formControlName="thandCap"
                  class="form-control form-control-sm"
                >
                  <option value="handicape_physique">Handicap Physique</option>
                  <option value="handicape_auditif">Handicap Auditif</option>
                  <option value="handicape_visuel">Handicap Visuel</option>
                  <option value="autre">Autre</option>
                  <option value="aucune" selected>Aucune</option>
                </select>
              </div>
            </div>
            <input
              *ngIf="!isRegistering"
              type="submit"
              value="S'inscrire"
              class="btn btn-primary"
              [disabled]="!form.valid"
            />
            
            <h5 *ngIf="isRegistering" class="text-primary">
              Veuillez patienter, enregistrement du compte en cours
            </h5>
          </form>
          <h4 *ngIf="showRegError" class="text-danger">
            Erreur lors de l'enregistrement. Vérifiez si vous n'avez pas encore
            créé de compte.
          </h4>
        </div>

        <div class="col-7 text-center m-auto p-3" *ngIf="isVerifyingToken">
          <h5 class="text-primary">
            Veuillez patienter, vérification de vos informations de
            préinscription...
          </h5>
        </div>

        <div class="col-7 text-center m-auto" *ngIf="showTokenInvalid">
          <h4 class="text-light bg-danger p-3">
            Le jeton que nous avons reçu est invalide ou a expiré
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

