<div class="table-responsive my-3">
<table class="table table-responsive">
<thead>
<tr>
 <th>Cne</th>
 <th>Candidat</th>
 <th>Sujet</th>
 <th>Projet de thèse</th>
 <th>diplomes</th>
</tr>
</thead>
<tbody>
<tr >
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td><div class="table-responsive">
    <table class="table table-hover table-stripped">
        <thead>
            <tr>
                <th >
                    intitule
                </th>
                <th >
                    specialite
                </th>
                <th >
                    Mention
                </th>
                <th >
                    Moyenne
                </th>
                <th> 
                   
                </th>
            </tr>
        </thead>
    </table>
    </div></td>
</tr>
</tbody>
</table>
</div>




