<table class="table table-responsive">
<thead>
<tr>
 <th>Cne
 </th>
 <th >Candidat</th>
 <th >Sujet</th>
 <th>Projet de thèse</th>
 <th>co-directeur
 </th>

 <!--Bac-->
 <th  data-field="titre bac" data-filter-control="select" data-sortable="true">
     Titre
 </th>
 <th  data-field="intitule bac" data-filter-control="select" data-sortable="true">
     intitule
 </th>
 <th  data-field="note bac" data-sortable="true" data-filter-control="select">
     specialite
 </th>
 <th  data-field="mention bac" data-sortable="true" data-filter-control="select">
     Mention
 </th>
 <th  data-field="moyenne" data-sortable="true" data-filter-control="select">
     Moyenne
 </th>
 <th  data-field="date bac" data-sortable="true" data-filter-control="select">date
     d obtention
 </th>
 <!--dut-->
 <th  data-field="titre dut" data-filter-control="select" data-sortable="true">
     Titre
 </th>
 <th  data-field="entretie dut" data-filter-control="select" data-sortable="true">
     intitule
 </th>
 <th  data-field="note dut" data-sortable="true" data-filter-control="select">
     specialite
 </th>
 <th  data-field="mention dut" data-sortable="true" data-filter-control="select">
     Mention
 </th>
 <th  data-field="date dut" data-sortable="true" data-filter-control="select">date
     d obtention
 </th>
 <th  data-field="moyenne dut" data-sortable="true" data-filter-control="select">
     Moyenne
 </th>
 <!--licence-->
 <th  data-field="titre licence" data-filter-control="select" data-sortable="true">
     Titre
 </th>
 <th  data-field="entretie licence" data-filter-control="select"
     data-sortable="true">intitule
 </th>
 <th  data-field="note licence" data-sortable="true" data-filter-control="select">
     specialite
 </th>
 <th  data-field="mention licence" data-sortable="true"
     data-filter-control="select">Mention
 </th>
 <th  data-field="date licence" data-sortable="true" data-filter-control="select">
     date d obtention
 </th>
 <th  data-field="moyenne licence" data-sortable="true"
     data-filter-control="select">Moyenne
 </th>
 <!--master-->
 <th  data-field="titre master" data-filter-control="select" data-sortable="true">
     Titre
 </th>
 <th  data-field="entretie master" data-filter-control="select"
     data-sortable="true">intitule
 </th>
 <th  data-field="note master" data-sortable="true" data-filter-control="select">
     specialite
 </th>
 <th  data-field="mention master" data-sortable="true"
     data-filter-control="select">Mention
 </th>
 <th  data-field="date master" data-sortable="true" data-filter-control="select">
     date d obtention
 </th>
 <th  data-field="moyenne master" data-sortable="true"
     data-filter-control="select">Moyenne
 </th>
 <!--doctorat en medecine-->
 <th  data-field="titre medecine" data-filter-control="select"
     data-sortable="true">Titre
 </th>
 <th  data-field="entretie medecine" data-filter-control="select"
     data-sortable="true">intitule
 </th>
 <th  data-field="note medecine" data-sortable="true" data-filter-control="select">
     specialite
 </th>
 <th  data-field="mention medecine" data-sortable="true"
     data-filter-control="select">Mention
 </th>
 <th  data-field="date medecine" data-sortable="true" data-filter-control="select">
     date d obtention
 </th>
 <th  data-field="moyenne medecine" data-sortable="true"
     data-filter-control="select">Moyenne
 </th>

 <th  data-field="titre medecine" data-filter-control="select"
     data-sortable="true">Titre
 </th>
 <th  data-field="entretie medecine" data-filter-control="select"
     data-sortable="true">intitule
 </th>
 <th  data-field="note medecine" data-sortable="true" data-filter-control="select">
     specialite
 </th>
 <th  data-field="mention medecine" data-sortable="true"
     data-filter-control="select">Mention
 </th>
 <th  data-field="date medecine" data-sortable="true" data-filter-control="select">
     date d obtention
 </th>
 <th  data-field="moyenne medecine" data-sortable="true"
     data-filter-control="select">Moyenne
 </th>
</tr>
</thead>
<tbody>
<tr >
 <td></td>
 <td></td>
 <td></td>
 <td>
     path file
 <td>
 <td>co-directeur</td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
 <td  ></td>
</tr>
</tbody>
</table>