        
        
        <app-alert *ngIf="alert" [data]="alert"></app-alert>

        <table class="table table-responsive table-bordered">
        <thead>
        <tr class="table-primary">
        <th scope="col" class="w-7">sujet</th>
        <th scope="col" class="w-7">description</th>
        <th scope="col" class="w-7">action</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let s of sujets">

            <td>{{s.sujet.titre}}</td>
            <td>{{s.sujet.description}}</td>
            <td class="text-center crs"><i (click)="delete(s)" class="bi bi-trash3-fill fs-23 text-primary"></i></td>
        </tr>
        </tbody>
        </table>
