
      
      <app-alert *ngIf="alert" [data]="alert"></app-alert>
        <div class="text-center" *ngIf="isFetchingItems">
          <h4>
            <img
              src="/assets/images/connexion/loading.webp"
              width="300"
              height="100"
            />
          </h4>
        </div>
        <p class="p-3 text-primary text-center border border-primary" *ngIf="NoSujets"><i class="bi bi-card-checklist"></i> {{message}}</p>

    <div class="card shadow" style="width: 100%">
    <ul class="list-group list-group-flush">

      <li class="list-group-item my-1  border border-primary" *ngFor="let s of sujets" >
        <p><span class="fs-6 fw-bold text-primary">Sujet | Axe : </span> {{s.sujet.titre}}</p>
        <p> <span class="fs-6 fw-bold text-primary">Professeur : </span> {{s.sujet.professeur.prenom}} {{s.sujet.professeur.nom}}</p>
        <form [formGroup]="Sujetform" (ngSubmit)="updatePostuler()">
        <div class="border p-1 d-flex justify-content-between align-items-center">
          <p class="fs-bold text-danger">importer votre projet de thèse :</p>
          <input   
          type="file"
          accept="application/pdf"
          formControlName="pathFile"
          [writeFile]="true"
          (change)="onFileSelected($event, 'dfile')" 
          />
          <button class="btn btn-primary m-1" type="submit">confirmer</button>
        </div>
        </form>

        <button class="my-3 btn btn-primary" (click)="delete(s)"><i class="bi bi-trash3-fill fs-23 text-white text-primary"></i> supprimer de mes choix </button>
      </li>
    </ul>
</div>

        