<div class="my-3">
<div class="loadingModal" *ngIf="showLoading">

  <div class="modalContent">
    <h3 class="text-primary">Authentification en cours</h3>
    <p>
      Après vous être connecté avec Google, nous devons vérifier que vous êtes
      un professeur. Veuillez patienter, vous serez bientôt redirigé si tout se
      passe bien.
    </p>
  </div>

</div>
<h5 *ngIf="showProfAuthError" class="col-sm-12 col-lg-5 text-light text-center bg-danger m-auto p-3 m-3">
  Un professeur avec le compte Google choisi n'existe pas.
</h5>

<div class="row m-3" >

  <div class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-center">

  <div class="col-12">
   
    <img src="/assets/images/ced/team4.JPG" class="img-fluid img-thumbnail" alt="">

  </div>

  </div>
  <div class="col-sm-12 col-lg-6 d-flex flex-column justify-content-center align-items-between">

    <div class="col m-3">
      <button class="btn btn-outline-primary" routerLink="/home/candidat/login">
        <i class="bi bi-file-person"></i>  {{'connexion.candidat' | translate}}
      </button>
    </div>


    <div class="col m-3">
      <button class="btn btn-outline-primary" type="button">
        <i class="bi bi-file-person"></i>  {{ 'connexion.scolarite'| translate}}
      </button>
    </div>

    <div class="col m-3">
      <button class="btn btn-outline-primary" type="button" (click)="loginProf()">
        <i class="bi bi-file-person"></i>  {{'connexion.professeur' | translate }}
      </button>
    </div>

    <div class="col m-3">
      <button class="btn btn-outline-primary" type="button">
        <i class="bi bi-file-person"></i>  {{ 'connexion.directeur_pole' | translate}}
      </button>
    </div>

    <div class="col m-3">
      <button class="btn btn-outline-primary" type="button">
        <i class="bi bi-file-person"></i> {{ 'connexion.directeur_ced' | translate}}
      </button>
    </div>

    <div class="col m-3">
      <button class="btn btn-outline-primary" type="button">
        <i class="bi bi-file-person"></i> {{ 'connexion.directeur_ced' | translate}}
      </button>
    </div>

  </div>
</div>
</div>