<div class="d-flex justify-content-center align-items-center border border-primary">
<nav class="navbar navbar-expand-lg navbar-light text-primary">
    <div class="container-fluid">
      <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav">

             <button class="btn btn-outline-primary mx-3" routerLinkActive="active" routerLink="/professeur/sujetprof" type="button">Mes Sujets</button>
             <button class="btn btn-outline-primary mx-3" routerLinkActive="active" routerLink="/professeur/candidatprof">Mes Candidats</button>
             <button class="btn btn-outline-primary mx-3" routerLinkActive="active" routerLink="/professeur/commissionprof">Mes Commissions</button>
             <button class="btn btn-outline-primary mx-3" routerLinkActive="active" routerLink="/professeur/resultatprof">Mes Resultats</button>
             <button class="btn btn-outline-primary mx-3" routerLinkActive="active" routerLink="/professeur/inscritsprof" >Mes inscrits</button>
        
          </div>
      </div>
    </div>
  </nav>
  </div>

