<div class="container-fluid mt-3">
  <div class="row mb-3">
    <div class="col-6 m-start">
      <button
        class="btn btn-primary btn-sm"
        type="button"
        (click)="open(mymodal)"
      >
        <i class="bi bi-plus-square-dotted"></i>
        ajouter un sujet
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center my-3">

    <div class="col-3">
      <input
        class="form-control"
        type="text"
        name=""
        [(ngModel)]="sujet_"
        (ngModelChange)="searchSujet()"
        [ngModelOptions]="{ standalone: true }"
        pattern="[0-9]*(\.[0-9]+)?"
        placeholder="par sujet"
      />
    </div>

    <div class="col-3">
      <input
        class="form-control"
        type="text"
        name=""
        [(ngModel)]="formationDoctorale_"
        (ngModelChange)="searchFormation()"
        [ngModelOptions]="{ standalone: true }"
        pattern="[0-9]*(\.[0-9]+)?"
        placeholder="par formation doctorale"
      />
    </div>
  </div>
  <app-alert *ngIf="alert" [data]="alert"></app-alert>
  <div class="table-responsive">
    <table class="table table-align-middle">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="w-7">Titre</th>
          <th scope="col" class="w-23">Directeur</th>
          <th scope="col" class="w-7">co-directeur</th>
          <th scope="col" class="w-23">Formation Doctorale</th>
          <th scope="col" class="w-23">action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         
        </tr>
        <tr *ngFor="let s of sujets_">
          <td>{{ s?.titre }}</td>
          <td>{{ s?.professeur.prenom}} {{ s?.professeur.nom}}</td>
          <td>{{ s?.coDirecteur?.nom }} {{ s.coDirecteur?.prenom }}</td>
          <td>{{ s?.formationDoctorale?.titre }}</td>

          <td
            class="d-flex flex-wrap justify-content-between align-items-center"
          >
            <button
              class="btn btn-primary btn-sm my-1"
              type="button"

            >
              <i class="bi bi-pencil-square"></i>
              modifier
            </button>
            <button
              class="btn btn-primary btn-sm my-1"
              type="button"
              (click)="deleteSujet(s)"
            >
              <i class="bi bi-x-lg"></i>
              supprimer
            </button>
          </td>
        </tr>
      </tbody>
       <div *ngIf="isFetchingItems">
      <h4>
        <img
          src="/assets/images/connexion/loading.webp"
          width="300"
          height="100"
        />
      </h4>
    </div>
    </table>
    <app-offsetpagination
    [itemsCount]="itemsCount"
    [itemsPerPage]="50"
    (indexChange)="onIndexChange($event)"
    *ngIf="sujets_.length > 0"
  ></app-offsetpagination>
  </div>
</div>

<!---modal-->

<ng-template
  class="modal fade"
  tabindex="-1"
  role="dialog"
  #mymodal
  let-modal
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered w-100" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <form [formGroup]="dLaboform">
          <div class="form-group mb-3">
            <label for="my-textarea" class="mb-3">Titre | Axe</label>
            <textarea
              maxlength="512"
              placeholder="Max. 512 caractères"
              id="my-textarea"
              class="form-control"
              name=""
              rows="7"
              formControlName="titre"
            ></textarea>
          </div>

          <div class="form-group mb-3">
            <label for="my-select" class="mb-3">Directeur</label>

            <select
              id="my-select"
              class="form-select"
              name=""
              formControlName="directeur"
            >
              <option > 

              </option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label for="my-select" class="mb-3">co-directeur</label>

            <select
              id="my-select"
              class="form-select"
              name=""
              formControlName="coDirecteur"
            >
            <option >
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="my-select" class="mb-3">Formation Doctorale</label>

            <select
              id="my-select"
              class="form-select"
              name=""
              formControlName="formationDoctorale"
            >
            <option > 
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="modal.dismiss('Cross click')"
              type="button"
            >
              annuler
            </button>
            <button
              class="btn btn-primary btn-confirmer"
              type="submit"
              (click)="modal.close('Save click')"
              [disabled]="dLaboform.invalid"
            >
              confirmer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

