<div class="container mt-5">
    <div class="row">
    
            <div class="col-12 text-darkblue heading-bx">

                <h2  class="bg-white mt-3 my-3 border-start border-primary border-3 text-start p-3 rounded text-color">Formations doctorales a l'USMBA</h2>

            </div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/labo/pic4.png" class="d-block w-100" alt="Image descriptif de la formation">
        <div class="carousel-caption  d-md-block mb-5">
          <h3 class="bg-white mt-3 my-3 border-start border-primary border-3 text-start p-3 rounded text-color">test</h3>
        </div>
        
      </div>
      
    </div>

  </div>
    </div>
</div>