<!-- <app-alert *ngIf="alert" [data]="alert"></app-alert>
<app-alert *ngIf="loading" [data]="alert"></app-alert> -->
<div class="container-fluid mt-3">
  <div class="table-responsive">
    <table class="table table-align-middle">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="w-7">Titre Sujet</th>
          <th scope="col" class="w-23">Directeur</th>
          <th scope="col" class="w-7">Co-Directeur</th>
          <th
            data-field="CNE"
            data-filter-control="input"
            data-sortable="true"
            scope="col"
            class="w-7"
          >
            CNE
          </th>
          <th scope="col" class="w-15">Nom</th>
          <th scope="col" class="w-15">Prenom</th>
          <th scope="col" class="w-23">Labo</th>
          <th scope="col" class="w-23">Formation Doctorale</th>
          <th scope="col" class="23">CED</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>$ candidat.sujet_titre</td>
          <td>$ candidat.directeur</td>
          <td>$ candidat.codirecteur</td>
          <td>$ candidat.cne</td>
          <td>$ candidat.nomCandidat</td>
          <td>$ candidat.prenomCandidat</td>
          <td>$ candidat.formation</td>
          <td>$ candidat.lab</td>
          <td>$ candidat.ced</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <app-offsetpagination
    [itemsCount]="itemsCount"
    [itemsPerPage]="50"
    (indexChange)="onIndexChange($event)"
    *ngIf="commissions.length > 0"
  ></app-offsetpagination> -->
</div>
