<app-alert *ngIf="alert" [data]="alert"></app-alert>

<div class="container-fluid mt-3">
  <div class="table-responsive">
    <table class="table table-align-middle">
      <thead>
        <tr class="table-primary">
          <th scope="col" class="w-20">Date</th>
          <th scope="col" class="w-20">Lieu</th>
          <th scope="col" class="w-20">Heure</th>
          <th scope="col" class="w-20 text-center">Sujets</th>
          <th scope="col" class="w-20">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of commissions">
          <td>{{ c.dateCommission }}</td>
          <td>{{ c.heure }}</td>
          <td>{{ c.lieu }}</td>
          <td>
            <ul class="list-group list-group-flush">
              <li
                *ngFor="let s of c.sujets"
                class="sujet-clicked list-group-item"
                (click)="onClickSujet(mymodal, s)"
              >
                <div class="row">
                  <div class="col-8 text-wrap">{{ s.titre }}</div>
                  <div class="col-4 text-wrap">
                    <span class="fw-bold">( de: {{ s.professeur }} ) </span>
                  </div>
                </div>
              </li>
            </ul>
          </td>
          <td class="text-center">
            <button  class="btn btn-danger me-2 btn-sm my-1" type="button" (click)="open2(mymodal1, c)">
              <i class="bi bi-bell"></i>
              Envoyer Notification
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-offsetpagination
    [itemsCount]="itemsCount"
    [itemsPerPage]="50"
    (indexChange)="onIndexChange($event)"
    *ngIf="commissions.length > 0"
  ></app-offsetpagination>
</div>
<ng-template
  class="modal fade"
  tabindex="-1"
  role="dialog"
  #mymodal
  let-modal
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered w-100 modal-xl"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          l'ajout des candidats
        </h5>
      </div>
      <div class="modal-body">
        <app-alert [data]="alert2"></app-alert>
        <div class="form-group mb-3">
          <div class="sujet">
            <div class="col-5 border rounded p-2">
              <h6>Candidats postuler</h6>
              <div class="ex3 mb-2">
                <p
                  (click)="onCandidatSelect(s)"
                  *ngFor="let s of candidatsSujet"
                  class="op"
                  [style]="{
                    display: s.valider ? 'none' : 'block'
                  }"
                >
                  {{ s.candidat.nom }} {{ s.candidat.prenom }}
                </p>
              </div>
            </div>
            <div
              class="col-2 d-flex flex-column justify-content-center align-items-center"
            >
              <h6 class="m-3">
                ajouter <i class="bi bi-arrow-right-circle-fill"></i>
              </h6>
              <h6 class="m-3">
                <i class="bi bi-arrow-left-circle-fill"></i> supprimer
              </h6>
            </div>
            <div class="col-5 border rounded p-2">
              <h6>Candidats sélectionné</h6>
              <div class="ex3">
                <p
                  *ngFor="let s of candidatsSujet"
                  (click)="onCandidatSelect(s)"
                  class="op"
                  [style]="{
                    display: s.valider ? 'block' : 'none'
                  }"
                >
                  {{ s.candidat.nom }} {{ s.candidat.prenom }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="modal.dismiss('Cross click')"
            type="button"
          >
            annuler
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template
  class="modal fade"
  tabindex="-1"
  role="dialog"
  #mymodal1
  let-modal
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered w-100 modal-l"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Envoie des notification
        </h5>
      </div>
      <div class="modal-body">
        <div class="form-group mb-3">
          <h4 class="text-danger">Est ce que vous voulez envoyer les notifications à tous les candidats sélectionnés ?</h4>
          <h4 class="text-danger">Cette action est irréversible. </h4>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="modal.dismiss('Cross click')"
            type="button"
          >
            annuler
          </button>
          <button
              class="btn btn-primary btn-confirmer"
              type="submit"
              (click)="modal.close('Save click')"
            >
              confirmer
            </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>