<div class="container col-lg-12" style="margin-top: 30px"></div>
      <div class="row container-fluid mt-3">
        <div class="col-12 table-responsive">
          <table
           *ngIf="!isFetchingItems"
            class="table table-align-middle"
          >
            <thead>
              <tr>
                <th
                  scope="col"
                  class="w-43"
                >
                  sujet
                </th>
                <th
                  scope="col"
                  class="w-15"
                >
                  Directeur
                </th>
                <th
                  scope="col"
                  class="w-15"
                >
                  Co-Directeur
                </th>
                <th
                  scope="col"
                  class="w-15"
                >
                  Candidat
                </th>
                <th
                  scope="col"
                  class="w-43"
                >
                  Formation doctorale
                </th>
                <th
                  scope="col"
                  class="w-15"
                >
                  CED
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of PInscriptions">
                <td>{{i.sujet.titre}}</td>
                <td>{{i.sujet.professeur?.prenom}} {{i.sujet.professeur?.nom}} </td>
                <td>{{i.sujet.coDirecteur?.prenom}} {{i.sujet.coDirecteur?.nom}}</td>
                <td>
                 {{i.candidat?.prenom}} {{i.candidat?.nom}}
                </td>
                <td>{{i.sujet.formationDoctorale.titre}}</td>
                <td>{{i.sujet.formationDoctorale.ced}}</td>
              </tr>
            </tbody>
            <div *ngIf="isFetchingItems">
              <h4>
                <img
                  src="/assets/images/connexion/loading.webp"
                  width="300"
                  height="100"
                />
              </h4>
            </div>
          </table>
        </div>
      </div>