<div class="container col-lg-12" style="margin-top: 30px"></div>
<div class="row container-fluid mt-3">
        <div class="col-12 table-responsive">
          <div class="d-flex justify-content-between align-items-center my-3">

            <div class="col-3">
              <input
                class="form-control"
                type="text"
                name=""
                [(ngModel)]="sujet_"
                (ngModelChange)="searchSujet()"
                [ngModelOptions]="{ standalone: true }"
                pattern="[0-9]*(\.[0-9]+)?"
                placeholder="par sujet"
              />
            </div>
          
            <div class="col-3">
              <input
                class="form-control"
                type="text"
                name=""
                [(ngModel)]="candidat_"
                (ngModelChange)="searchCandidat()"
                [ngModelOptions]="{ standalone: true }"
                pattern="[0-9]*(\.[0-9]+)?"
                placeholder="par candidat "
              />
            </div>
          
            <div class="col-3">
              <input
                class="form-control"
                type="text"
                name=""
                [(ngModel)]="formationDoctorale_"
                (ngModelChange)="searchFormation()"
                [ngModelOptions]="{ standalone: true }"
                pattern="[0-9]*(\.[0-9]+)?"
                placeholder="par formation doctorale"
              />
            </div>
          </div>
          <table
           *ngIf="!isFetchingItems"
            class="table table-align-middle"
          >
            <thead>
              <tr class="table-primary">
                <th
                  scope="col"
                  class="w-43"
                >
                  sujet
                </th>
                <th
                  scope="col"
                  class="w-15"
                >
                  Directeur
                </th>
                <th
                  scope="col"
                  class="w-15"
                >
                  Co-Directeur
                </th>
                <th
                  scope="col"
                  class="w-15"
                >
                  Candidat
                </th>
                <th
                  scope="col"
                  class="w-43"
                >
                  Formation doctorale
                </th>
                <th
                  scope="col"
                  class="w-15"
                >
                  CED
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of PInscriptions">
                <td>{{i.sujet.titre}}</td>
                <td>{{i.sujet['directeur']}} </td>
                <td>{{i.sujet['coDirecteur'] }}</td>
                <td>
                 {{i.candidat?.prenom}} {{i.candidat?.nom}}
                </td>
                <td>{{i.sujet.formationDoctorale}}</td>
                <td>{{i.sujet['ced'] }}</td>
              </tr>
            </tbody>
            <div *ngIf="isFetchingItems">
              <h4>
                <img
                  src="/assets/images/connexion/loading.webp"
                  width="300"
                  height="100"
                />
              </h4>
            </div>
          </table>
          <app-offsetpagination
          [itemsCount]="itemsCount"
          [itemsPerPage]="50"
          (indexChange)="onIndexChange($event)"
          *ngIf="PInscriptions.length > 0"
        ></app-offsetpagination>
        </div>
      </div>