<div class="container-fluid mt-3">

    <div class="table-responsive">

        <table class="table table-align-middle">
            <thead>
                <tr class="align-text-bottom">
                    <td scope="col" class="w-7" data-field="Date" data-sortable="true">Date</td>
                    <td scope="col" class="w-7" data-field="Lieu" data-sortable="true">Lieu</td>
                    <td scope="col" class="w-7" data-field="heure" data-sortable="true">heure</td>
                    <td scope="col" class="w-7" data-field="sujets" data-sortable="true">Sujets</td>
                    <td scope="col" class="w-7" data-field="membres" data-sortable="true">membres</td>
                    <td scope="col" class="w-13" data-field="laboratoire" data-sortable="true">Laboratoires</td>

                    <td scope="col" class="w-7" data-field="valider" data-sortable="true">valider</td>
                </tr>
            </thead>
            <tbody>


                <tr >
                    <td>date commission</td>
                    <td>lieu</td>
                    <td>heure</td>
                    <td>
                        <ul>
                            <li >sujet</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li >prof</li>
                        </ul>
                    </td>
                    <td>comisionlabo</td>
                    <td>
                        <input type="checkbox" name="" id="">
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

</div>