<div class="container-fluid mt-3">

    <div class="table-responsive">

        <table class="table table-align-middle">
            <thead>
                <tr class="align-text-bottom">
                    <td scope="col" class="w-7" data-field="Date" data-sortable="true">Date</td>
                    <td scope="col" class="w-7" data-field="Lieu" data-sortable="true">Lieu</td>
                    <td scope="col" class="w-7" data-field="heure" data-sortable="true">heure</td>
                    <td scope="col" class="w-7" data-field="sujets" data-sortable="true">Sujets</td>
                    <td scope="col" class="w-7" data-field="membres" data-sortable="true">membres</td>
                    <td scope="col" class="w-13" data-field="laboratoire" data-sortable="true">Laboratoire</td>


                </tr>
            </thead>
            <tbody>



                <tr *ngFor="let c of commissions">
                    <td>{{ c.dateCommission }}</td>
                    <td>{{ c.heure }}</td>
                    <td>{{ c.lieu }}</td>
                    <td>
                        <ul>
                            <li *ngFor="let s of c.sujets">
                                {{ s.titre }}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let p of c.participants">
                                {{ p.nom }} {{ p.prenom }}
                            </li>
                        </ul>
                    </td>
                    
                    <td>{{ c.labo }}</td>

                </tr>
            </tbody>
        </table>

    </div>

</div>
