<div class="page-wrap d-flex flex-row align-items-center mt-5">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-12 text-center">

                <span class="display-1 h1  d-block text-primary fs-bold d-6">404</span>

                <div class="mb-4 lead font-weight-bold text-primary">La page que vous cherchez n'existe pas</div>

                <a routerLink="/home/infos" class="btn btn-outline-primary">revenez vers l'accueil</a>

            </div>
        </div>
    </div>
</div>