<div app-header></div>
<h3 *ngIf="showError" style="color: red">{{ errorText }}</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="email">Email</label>
  <input
    id="email"
    type="email"
    formControlName="email"
    name="email"
    placeholder="Email"
  />
  <label for="password">Mot de passe</label>
  <input
    id="password"
    type="password"
    formControlName="password"
    name="password"
    placeholder="Password"
  />
  <input
    *ngIf="!showLoading"
    type="submit"
    [disabled]="!form.valid"
    value="Login"
  />
  <h4 *ngIf="showLoading">Attendre svp</h4>
  <p>
    Vous n'avez pas de compte ?<a routerLink="/connexion/candidat/register"
      >Inscrivez-vous ici</a
    >
  </p>
</form>
<div app-footer></div>
