

<h5 *ngIf="showError" class="col-sm-12 col-lg-5 text-light text-center  bg-danger m-auto p-3">{{ errorText }}</h5>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

<div class="container-fluid">

  <div class="col-sm-12 col-lg-5 m-auto form-group mt-3">

    <label class="form-label font-weight-bold fs-3" for="email"><i class="bi bi-envelope"></i> Email</label>
    <input
      
      class="form-control"
      id="email"
      
      type="email"
      formControlName="email"
      name="email"
      placeholder="Email"
    />

  </div>

  <div class="col-sm-12 col-lg-5 m-auto form-group mt-3">

  <label class="form-label font-weight-bold fs-3" for="password"><i class="bi bi-key"></i> Mot de passe</label>

  <input
  class="form-control mb-3"
    id="password"
    type="password"
    formControlName="password"
    name="password"
    placeholder="Password"
  />
  <input
    class="btn btn-outline-primary"
    *ngIf="!showLoading"
    type="submit"
    [disabled]="!form.valid"
    value="Login"
  />
 </div>


  <div class="col-sm-12 col-lg-5 m-auto form-group mt-3">
  <h4 *ngIf="showLoading"><img src="/assets/images/connexion/loading.webp" width="300" height="100" /></h4>
  <p>
    Vous n'avez pas de compte ?<a class="m-3" routerLink="/home/candidat/pre-register"
      >Inscrivez-vous ici</a
    >
  </p>
</div>

</div>
</form>



