<div class="row container-fluid mt-3">
            <div class="col-12 table-responsive">


                <!-- <table class="table table-bordered table-align-middle"
                       data-search="true"
                       data-filter-control="true"
                       data-show-export="true"
                       data-click-to-select="true"
                       data-toolbar="#toolbar"
                > -->
                <table class="table  table-align-middle"
                       data-search="true"
                       data-filter-control="true"
                       data-show-export="true"
                       data-click-to-select="true"
                       data-toolbar="#toolbar"
                >
                    <thead>
                    <tr>
                        <th data-field="sujet" data-filter-control="input" data-sortable="true"
                        scope="col" class="w-43">sujet</th>
                        <th data-field="date" data-filter-control="input" data-sortable="true"
                        scope="col" class="w-13">date</th>
                        <th data-field="heure" data-filter-control="input" data-sortable="true"
                        scope="col" class="w-13">heure</th>
                        <th data-field="lieu" data-filter-control="input" data-sortable="true"
                        scope="col" class="w-15">lieu</th>
                        <th data-field="membres" data-filter-control="input" data-sortable="true"
                        scope="col" class="w-43">membres</th>
                        <th data-field="labo" data-filter-control="input" data-sortable="true"
                        scope="col" class="w-43">Labo</th>
                        <th data-field="ced" data-filter-control="input" data-sortable="true"
                        scope="col" class="w-43">CED</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <ul >
                                <li >$ sujet </li>
                            </ul>
                        </td>
                        <td>$ commission.dateCommission </td>
                        <td>$ commission.heure </td>
                        <td>$ commission.lieu </td>
                        <td>
                            <ul>
                                <li>$ membre </li>
                            </ul>
                        </td>
                        <td>$ commission.lab </td>
                        <td>$ commission.ced </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>