<div *ngIf="isVerifyingToken" class="mt-4">
  <div class="col-7 text-center m-auto p-3" *ngIf="isVerifyingToken">
    <h5 class="text-primary">S'il vous plaît, attendez.</h5>
    <h4>
      <img
        src="/assets/images/connexion/loading.webp"
        width="300"
        height="100"
      />
    </h4>
  </div>
</div>

<div class="col-7 text-center m-auto mt-4" *ngIf="tokenError">
  <h4 class="text-light bg-danger p-3">
    Nous n'avons pas pu traiter votre demande. Mauvaise information reçue.
  </h4>
</div>

<div
  class="mt-4 card mx-4"
  *ngIf="
    !isVerifyingToken && !tokenError && data && requestSuccessful === undefined
  "
>
  <div class="card-body">
    <h5 class="card-title">Salut {{ data.nom }} {{ data.prenom }}!,</h5>
    <p>Procédez à la réinitialisation de votre mot de passe</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        class="form-control"
        type="password"
        name="pwd"
        formControlName="pwd"
        placeholder="Mot de passe"
      />
      <input
        type="password"
        name="confPwd"
        formControlName="confPwd"
        placeholder="Confirmer votre mot de passe"
        class="form-control mt-2"
      />
      <p
        *ngIf="form.errors?.['NotEqual'] && form.controls['confPwd'].touched"
        class="text-danger"
      >
        Les mots de passe ne correspondent pas
      </p>
      <button
        *ngIf="!requesting"
        class="btn btn-primary mt-2"
        [disabled]="!this.form.valid"
      >
        Procéder
      </button>
      <h4 *ngIf="requesting">
        <img
          src="/assets/images/connexion/loading.webp"
          width="300"
          height="100"
        />
      </h4>
    </form>
  </div>
</div>

<div *ngIf="requestSuccessful" class="card m-4">
  <div class="card-body">
    <h5 class="card-title text-primary">
      Mot de passe réinitialisé avec succès.
    </h5>
    <button class="btn btn-primary" routerLink="/home/candidat/login">
      Revenir vers se connecter
    </button>
  </div>
</div>

<div *ngIf="requestSuccessful === false" class="card m-4">
  <div class="card-body">
    <h5 class="card-title text-danger">
      La réinitialisation du mot de passe n'a pas abouti.
    </h5>
    <p>Une erreur inconnue s'est produite, veuillez réessayer plus tard.</p>
  </div>
</div>
