

<div class="container-fluid mt-10">

    <div class="row">

      <h3 class="text-primary bg-white mt-3 my-3 border border-primary text-start p-3 rounded"><i class="bi bi-calendar4-week"></i> {{'home.calendrier.calendrier'| translate}}</h3>
    
<div class="card col-5 m-auto">
  <div class="bg-image hover-zoom">
    <img class="card-img-top " src="/assets/images/home/calendrier/etudiant_calendrier1.jpg" alt="Card image cap">
  </div>
    <div class="card-body">
        <h5 class="card-title p-3 bg-primary text-white text-center"><i class="bi bi-person-workspace"></i> {{'home.calendrier.calendrier-prof'| translate}}</h5>
  
      </div>
      <ul class="list-unstyled ">
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Appel à sujets : du ---- au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Publication des sujets et appel à candidature des étudiants : du au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Commission de recrutement des doctorants : du au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Validation de l'inscription en thèse <span class="fw-bold">liste principale</span> : du au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Validation de l'inscription en thèse <span class="fw-bold">liste d'attente</span> : du au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> La réinscription en 2ème année , 3ème année , 4ème année et 5ème année : du au <span class="fw-bold">liste d'attente</span> : du au </li>
    
      </ul>
  </div>

  <div class="card col-5 m-auto">
    <img class="card-img-top" src="/assets/images/home/calendrier/etudiant_calendrier.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title p-3 bg-primary text-white text-center"><i class="bi bi-people"></i> {{'home.calendrier.calendrier-doctorant'| translate}}</h5>
       
      </div>
      <ul class="list-unstyled ">
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Appel à sujets : du ---- au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Publication des sujets et appel à candidature des étudiants : du au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Commission de recrutement des doctorants : du au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Validation de l'inscription en thèse <span class="fw-bold">liste principale</span> : du au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> Validation de l'inscription en thèse <span class="fw-bold">liste d'attente</span> : du au </li>
        <li class="list-group-item calendar-text"><i class="bi bi-list"></i> La réinscription en 2ème année , 3ème année , 4ème année et 5ème année : du au <span class="fw-bold">liste d'attente</span> : du au </li>
    
      </ul>
  </div>

    </div>

</div>
