<div class="row bg-white mt-3">

    <div class="col-6 d-flex justify-content-center align-items-center">
    
        <img class="p-3 rounded" src="/assets/images/usmba-logo-mini.png" alt="" srcset="">

    </div>
    <div class="col-6 d-flex align-items-center">
        <h5 class="lh-base">Bienvenue sur la Plateforme de Gestion des candidatures au cycle doctorale ,Il s'agit de la nouvelle brique logicielle qui vient enrichir l'Environnement Numérique de Travail de l'Université Sidi Mohamed Ben Abdellah de Fès.Elle constitue la plateforme officielle pour la gestion des candidatures au Cycle Doctorat ainsi que le suivi et la gestion du parcours des Doctorants de l'USMBA, de l'inscription à la soutenance.</h5>
    </div>
    
    
    </div>
    