<div class="row bg-white mt-5 shadow mb-5">

    <div class="container col-md-6 col-lg-6 col-sm-12 d-flex justify-content-center align-items-center">
    
        <img class="p-3 rounded" src="/assets/images/usmba-logo-mini.png" alt="université sidi mohamed ben abdellah" srcset="">
        <div class="overlay">
            <div class="text">{{'home.description.USMBA'| translate}} <br> <small class="text-primary text-center">- {{'home.description.pole_digitalisation'| translate}} -</small></div>
          </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 d-flex">
        <h5 class="lh-base text-color">{{'home.description.description'| translate}}</h5>
    </div>
    
    
    </div>
    