<div class="container-fluid">
  <div class="row p-3">
    <div class="d-flex col col-sm-1 col-md-10 col-lg-10">
      <img
        class="img-fluid"
        src="/assets/images/usmba-logo.png"
        width="180"
        height="40"
        alt=""
        srcset=""
      />
    </div>

    <div class="col col-sm-11 col-md-2 col-lg-2">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <img
          class="img-thumbnail"
          src="{{ prof.pathPhoto }}"
          width="40"
          height="40"
          alt=""
          srcset=""
        />
        <p>{{ prof.prenom }} {{ prof.nom }}</p>
        <button class="btn btn-primary btn-sm" type="button">
          deconnexion
        </button>
      </div>
    </div>
  </div>
</div>
