<div class="container-fluid">

  <div class="progress mb-3 border border-primary">
    <div class="progress-bar  progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light border border-primary">


    <ul class="navbar-nav m-auto">
     

      <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Parcours
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item text-darkblue" routerLink="parcours/bac">BACCALAUREAT<i class="bi bi-check-square mx-3"></i></a></li>
          <li><a class="dropdown-item text-darkblue" routerLink="parcours/dut">DUT</a></li>
          <li><a class="dropdown-item text-darkblue" routerLink="parcours/licence">LICENCE</a></li>
          <li><a class="dropdown-item text-darkblue" routerLink="parcours/master">MASTER</a></li>
          <li><a class="dropdown-item text-darkblue" routerLink="parcours/cingenieur">CYCLE D'INGENIEURS</a></li>
          <li><a class="dropdown-item text-darkblue" routerLink="parcours/doctorat_medecine">DOCTORAT EN MEDECINE</a></li>
        </ul>
      </li>
     
    </ul>

</nav>
<router-outlet></router-outlet>
</div>