<div class="page-wrap d-flex flex-row align-items-center mt-5">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-12 text-center">

                <span class="display-1 h1  d-block text-primary font-weight-bold">404</span>

                <div class="mb-4 lead font-weight-bold text-primary">La page que vous recherchez n'existe pas</div>

                <a routerLink="/accueil" class="btn btn-outline-primary">reviens vers l'accueil</a>

            </div>
        </div>
    </div>
</div>